<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用
-->
<mapper namespace="com.k4meitu.pic.mapper.ArticleMapper">
	
	<!-- 查询最新的文章-->
	<select id="getLatestArticles" resultType="com.k4meitu.pic.po.SexyArticleModel">
		SELECT * FROM sexy_article order by id desc limit #{curPage},#{pCount}
	</select>
	
	<select id="getAllLatestArticles" resultType="int">
		SELECT COUNT(*) AS totalPage FROM sexy_article
	</select>
	
	<!-- 分类查询最新的文章-->
	<select id="getLatestArticlesByType" resultType="com.k4meitu.pic.po.SexyArticleModel">
		SELECT * from sexy_article WHERE type=#{type} and subType=#{subType}  ORDER BY id DESC limit #{curPage},#{pCount}
	</select>
	
	<select id="getAllLatestArticlesByType" resultType="int">
		SELECT COUNT(*) AS totalPage FROM sexy_article WHERE type=#{type} and subType=#{subType}
	</select>
	
	
</mapper>